footer {
  display: flex;
  background-color: rgb(8, 140, 212);
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}

footer img {
  width: 150px;
}
